<h1><% @merchant.name %> Bulk Discounts</h1>
<p><%= link_to "Create New Bulk Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %></p>
<div class="bulk_discounts">
  <% @merchant.bulk_discounts.each do |discount| %>
    <div class=<%= "bulk_discount_#{discount.id}" %>>
      <p><%= "Percent off: #{number_to_percentage(discount.discount, precision: 0)}" %></p>
      <p><%= "Quanity Needed: #{discount.quantity}" %></p>
      <p><%= link_to "Bulk Discount #{discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></p>
      <%= form_with model: [@merchant, discount], method: :delete, local: true do |form| %>
      <%= form.submit value = "Delete"  %>
    <% end %>
    </div>
  <% end %>
</div>
